# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/
*.so
*.dll
*.log
*.log.*
.pytest_cache/
.coverage

# VSCode
.vscode/

# Environment variables
.env

# repo formatter
.repo_formatter.yaml

# cline
.clineignore
memory-bank/
.clinerules/
.workflows/